*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

html, body, section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/src/img/fundo.jpg);
}

.calculadora-cont{
    width: 20rem;
    height: 30rem;
    background-color: #202020;
    border-radius: 0.5rem;
}

.janela-resultado{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
    padding: 0.7rem 0.5rem;
}

.conta{
    color: rgb(147, 147, 147);
}

.numero-resultado{
    margin-top: 0.5rem;
    font-size: 2rem;
    color: white;
}

.botoes-cont{
    width: 100%;
    height: calc(100% - 6rem);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

.botoes{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.3rem;
}

.botoes .numero{
    background-color: #3B3B3B;
}

.botoes .numero:hover{
    background-color: #323232;
}

.botoes .operador{
    background-color: #323232;
}

.botoes .operador:hover{
    background-color: #3B3B3B;
}

.botoes .igual{
    background-color: #595959;
    color: black;
}

.botoes .igual:hover{
    background-color: #616161;
}

.botoes p{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    cursor: default;
}